<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand brand" href="">Instarock</a>
    </div>
  </div>
</nav>
</body>
<style>
  .navbar{
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    height: 77px;
    transition: .2s ease-in-out;
  }
  .navbar:hover{
    box-shadow: 0 1px 0 rgba(0, 0, 0, .2);
    transition: .2s ease-in-out;
  }
  .brand{
    font-family: 'Lobster', cursive;
    line-height: 38px;
    font-size: 30px;
    font-weight: thin;
  }
</style>
</html>